# Virtual environment
.venv/
venv/
env/
bacnet_env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDE
.vscode/
.idea/
.VSCodeCounter/

# macOS
.DS_Store

# Logs
*.log 